<div class="nav-wrapper">
  <div style="display: flex; align-items: center;">
    <img id="logo" src="/assets/img/chip.svg" alt="" style="height: 35px; width: 35px;">
    <p style="margin-left: 0.5rem; user-select: none;">Free Planning Poker</p>

  </div>
  <div>
    <mat-icon mat-button mat-list-icon matTooltip="Invite players" style="margin-right: 0.5rem;" (click)="add_user()">add_box</mat-icon>
    <a href="https://github.com/Benriez/freePlanningPoker" target="_blank">
      <img id="github" matTooltip="View on Github" src="/assets/img/github.svg" style="margin-right: 0.5rem; user-select: none;">
    </a>
    <mat-icon mat-button mat-list-icon matTooltip="Settings">settings</mat-icon>

  </div>

</div>
