<!-- /*
 * Freeplanningpoker
 * Version 0.0.1
 * Copyright 2023 Benjamin Riezler
 *
 * Freeplanningpoker is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Lesser General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Freeplanningpoker is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public License
 * along with MyLibrary. If not, see <http://www.gnu.org/licenses/>.
 */ -->
<div class="nav-wrapper">
  <div style="display: flex; align-items: center;">
    <img id="logo" src="/assets/img/chip.svg" alt="" style="height: 35px; width: 35px;">
    <p style="margin-left: 0.5rem; user-select: none;">Free Planning Poker</p>

  </div>
  <div>
    <mat-icon mat-button mat-list-icon matTooltip="Invite players" style="margin-right: 0.5rem;" (click)="add_user()">add_box</mat-icon>
    <a href="https://github.com/Benriez/freePlanningPoker" target="_blank">
      <img id="github" matTooltip="View on Github" src="/assets/img/github.svg" style="margin-right: 0.5rem; user-select: none;">
    </a>
    <mat-icon mat-button mat-list-icon matTooltip="Settings" (click)="openSettings()">settings</mat-icon>

  </div>

</div>
