<div class="game-wrapper">
  <div id="gameStatus" class="game-status" style="background-color: #f0f8ff0d!important;">
    <button mat-button disabled (click)="revealCards()" style="color: rgb(235, 235, 235);">Pick youre Cards!</button>
    <button id="restartBtn" (click)="resetCards()" mat-icon-button>
      <mat-icon>autorenew</mat-icon>
    </button>
  </div>


  <div>
    <p style="text-align: center;user-select: none;">Choose youre card:</p>
    <div class="scroll-selection-wrapper">
      <div class="scroll-selection-row">
        <div *ngFor="let card of cards" class="scroll-selection"  #cardElement (click)="select_card(cardElement, card)" >
          {{ card }}
        </div>    
      </div>
    </div>
  </div>

  <div>
    <p style="text-align: center;user-select: none;">Players ({{players.length}}):</p>
    <div class="scroll-selection-wrapper">
      <div class="scroll-selection-row">
        <div *ngFor="let player of players" class="scroll-selection-player" 
          [ngStyle]="{
            'border': player.user_id === this.user_id ? '1px solid #00e200' : 'transparent',
            'background-color': player.card !== null ? 'green' : 'transparent'
          }"
          (click)="updateUser(player.user_id)">
          {{ player.username }}
          <div class="player-cards-value" style="margin-top: 0.5rem; display: none;">{{ player.card }}</div>
        </div>    
        
      </div>
    </div>
  </div>


</div>