 /*
 * Freeplanningpoker
 * Version 0.0.1
 * Copyright 2023 Benjamin Riezler
 *
 * Freeplanningpoker is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Lesser General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Freeplanningpoker is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public License
 * along with MyLibrary. If not, see <http://www.gnu.org/licenses/>.
 */
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: red!important;
}

.custom-input::placeholder, .custom-input {
  color: #fff!important; /* Change to your desired border color */
}

::ng-deep .custom-input {
  border-color: #fff!important; /* Change to your desired border color */
}

.mat-mdc-slide-toggle{
  --mdc-switch-selected-focus-state-layer-color: #5eab39!important;
  --mdc-switch-selected-handle-color: #3cab39!important;
  --mdc-switch-selected-hover-state-layer-color: #39ab39!important;
  --mdc-switch-selected-pressed-state-layer-color: #39ab42!important;
  --mdc-switch-selected-focus-handle-color: #1a7e30!important;
  --mdc-switch-selected-hover-handle-color: #217e1a!important;
  --mdc-switch-selected-pressed-handle-color: #1a7e1c!important;
  --mdc-switch-selected-focus-track-color: #79cb7f!important;
  --mdc-switch-selected-hover-track-color: #79cb86!important;
  --mdc-switch-selected-pressed-track-color: #82cb79!important;
  --mdc-switch-selected-track-color: #7dcb79!important;
  --mdc-switch-disabled-selected-handle-color: #424242!important;
  --mdc-switch-disabled-selected-icon-color: #fff!important;
  --mdc-switch-disabled-selected-track-color: #424242!important;
  --mdc-switch-disabled-unselected-handle-color: #424242!important;
  --mdc-switch-disabled-unselected-icon-color: #fff!important;
  --mdc-switch-disabled-unselected-track-color: #424242!important;
}

::ng-deep .mdc-label {
  color: #838383!important; /* Set your desired text color */
}