<div id="sidenav" style="z-index: 100;width: 200px; height: 100vh; background-color: #113c26; position: absolute; top: 0; right: -200px; display: flex;flex-direction: column;justify-content: space-between;">
  <div style="margin: 1rem; position: relative;">
    <div style="height: 2rem; position: absolute; top: 0rem; right: -0.5rem; cursor: pointer;">
      <mat-icon mat-button (click)="close()" matTooltip="close settings">close</mat-icon>
    </div>


    <div style="display: flex;align-items: center;height: 2.5rem; margin-top: 50px;cursor: pointer;" (click)="add_user()">
      <mat-icon mat-button style="margin-right: 0.5rem;">add_box</mat-icon>
      <p>Invite Players</p>
    </div>
    <div style="display: flex;align-items: center;height: 2.5rem;cursor: pointer; color: #828282;">
      <a href="" target="_blank">
        <img id="colors-sidenav" src="/assets/img/switch_colors_disabled.svg" style="margin-right: 0.5rem; width: 24px;">
      </a>
      <p>Change Theme</p>
    </div>
    <div style="height: 2.5rem;cursor: pointer;" (click)="close()">
      <a href="https://github.com/Benriez/freePlanningPoker" target="_blank" style="display: flex;align-items: center;text-decoration:none;">
        <img id="github-sidenav" src="/assets/img/github.svg" style="margin-right: 0.5rem;">
        <p style="color: #fff;">View Source Code</p>
      </a>
    </div>
  </div>

  <div style="margin: 1rem;">
    <div style="height: 2rem;cursor: pointer;" (click)="close()">
      <a href="https://www.buymeacoffee.com/flashback" target="_blank" style="display: flex;align-items: center;text-decoration:none;">
        <img id="github-sidenav" src="/assets/img/bmc-logo.svg" style="margin-right: 0.5rem; width: 20px;">
        <p style="color: #fff;">Buy Us A Coffee</p>
      </a>
    </div>
  
  </div>

</div>
